{% extends 'base.html.twig' %}

{% block title %}Connexion | Colaboration{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="flex justify-center items-center w-full bg-blue-500 shadow-lg">
            <div class="w-min bg-white rounded shadow-2xl p-5 m-4 flex justify-center">
                <div class="w-full w-52 px-3 mb-6 md:mb-0">
                    <label class="mr-4" for="inputUsername">Nom d'utilisateur :</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                           class="form-control mt-2 mb-2 flex border rounded-lg border-gray-200 bg-gray-50 p-2 w-max"
                           autocomplete="username" required autofocus>
                    <label class="mr-4 mt-4" for="inputPassword">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword"
                           class="form-control mt-2 flex border rounded-lg border-gray-200 bg-gray-50 p-2 "
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="py-1 mt-4 px-5 text-white bg-blue-500 hover:bg-blue-700 rounded-full"
                            type="submit">
                        Connexion
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
