{% extends 'base.html.twig' %}

{% block title %}Connexion | Colaboration{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="flex justify-center items-center w-full bg-blue-500 shadow-lg">
            <div class="w-min bg-white rounded shadow-2xl p-5 m-4 flex justify-center">
                <div class="w-full w-52 px-3 mb-6 md:mb-0">
                    <label class="mr-4 text-lg text-gray-900 underline" for="inputUsername">Nom utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                           class="form-control mt-2 flex border rounded-lg border-gray-200 bg-gray-50 p-2 w-max"
                           autocomplete="username" required autofocus>
                    <label class="mr-4 mt-4 text-lg text-gray-900 underline" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword"
                           class="form-control mt-2 flex border rounded-lg border-gray-200 bg-gray-50 p-2 w-max"
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="justify-center flex mt-5 btn btn-lg btn-primary border rounded-lg bg-indigo-500 text-white"
                            type="submit">
                        Connexion
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
