{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateurs | Colaboration{% endblock %}

{% block body %}


    <div class="ml-5 mt-5 mr-5 w-max justify-center">
        <div class="flex border-t border-l border-r shadow">
            <table>
                <tr>
                    <th class="px-10 py-2 text-xs text-gray-500">
                        Nom
                    </th>
                    <th class="px-10 py-2 text-xs text-gray-500">
                        Prenom
                    </th>
                    <th class="px-10 py-2 text-xs text-gray-500">
                        Identifiant
                    </th>

                </tr>
                <tbody class="bg-white divide-y divide-gray-300">
                {% for user in user %}
                    <tr class="whitespace-nowrap">
                        <td class="px-6 py-4 text-sm text-gray-900">
                            {{ user.nom }}
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-900">
                            {{ user.prenom }}
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-900">
                            {{ user.username }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
